* {
    background-image: none;
    box-shadow: none;
    color: #d6d9e0
}

window {
    /* #201822 */
    background-color: rgba(32, 24, 34, 0.8);
}

button {
    border-radius: 15px;
    border-color: #fc5f72;
    margin: 0 4px 400px 4px;
    text-decoration-color: #fc5f72;
    color: #fc5f72;
    background-color: #201822;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:first-child {
    margin-left: 300px;
}

button:last-child {
    margin-right: 300px;
}

button:focus,
button:active,
button:hover {
    background-color: #fc5f72;
    color: #201822;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
