@import "tzfn.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(23 ,25 ,26, 0.5);
    border-radius: 0px 0px 5px 5px;
    border: 1px solid @black;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 3px;
}

#workspaces button {
    padding: 0px;
    padding-right: 5px;
    color: @cyan;
    border: none;
}

#workspaces button:hover {
    background-color: @hl;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#window,
#language,
#mpd {
    padding: 0px 8px;
    color: @cyan;
}

#tray {
    padding: 0px;
    padding-left: 16px;
}

#custom-power {
    padding: 0px;
    padding-right: 16px;
}

#battery.charging,
#battery.plugged {
    color: @green;
    /* background-color: @black; */
}

@keyframes blink {
    to {
        color: @cyan;
    }
}

#battery.critical:not(.charging) {
    color: @yellow;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}
