@import "tzfn.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-right {
    margin-left: 0px;
    background-color: @black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid @red;
    border-top: none;
}

#workspaces button {
    min-width: 30px;
    padding: 0px;
    background: none;
    color: @red;
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#workspaces button:hover,
#workspaces button.active {
    background-color: @red;
    border: 1px solid @red;
    color: @black;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#window,
#language,
#mpd {
    min-width: 30px;
    margin: 0px 8px;
    padding: 0px;
    color: @red;
    background: none;
}

#tray {
    margin-left: 16px;
    margin-right: 0px;
}

#language {
    min-width: 44px;
}

#battery {
    min-width: 54px;
}

#wireplumber.muted {
    min-width: 20px;
    margin: 0px;
}

#custom-power {
    min-width: 20px;
    margin-right: 16px;
    margin-left: 0px;
}

#battery.charging,
#battery.plugged {
    color: @green;
    background-color: @black;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery.critical:not(.charging) {
    color: @yellow;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f6c117;
}
