@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#waybar {
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: @cyan;
}

/* ---- */
/* LEFT */
/* ---- */
#left {
    background-color: rgba(23, 25, 26, 0.8);
    border: 1px solid rgba(23, 25, 26, 0.2);
    padding: 5px 8px;
    border-radius: 20px;
}

#workspaces button {
    color: @cyan;
    background: transparent;
}

#window {
    padding: 0px 6px;
}

window#waybar.empty #window {
    padding: 0px 2px;
}

/* ------ */
/* CENTER */
/* ------ */
#center {
    background-color: rgba(23, 25, 26, 0.8);
    border: 1px solid rgba(23, 25, 26, 0.2);
    padding: 5px 8px;
    border-radius: 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#center:hover {
    background-color: @cyan;
    color: @black;
}

/* ----- */
/* RIGHT */
/* ----- */
#tray,
#right {
    background-color: rgba(23, 25, 26, 0.8);
    border: 1px solid rgba(23, 25, 26, 0.2);
    padding: 5px 8px;
    border-radius: 20px;
    margin-right: 5px;
}

#tray menu {
    /* padding: 8px; */
    /* margin: 8px; */
}

#battery,
#wireplumber {
    border-radius: 20px;
    padding-right: 14px;
    padding-left: 7px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#battery:hover,
#wireplumber:hover {
    color: @black;
    background-color: @cyan;


}
#custom-power {
    padding-left: 10px;
    padding-right: 14px;
    background-color: rgba(23, 25, 26, 0.8);
    border-radius: 25px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#custom-power:hover {
    background-color: @cyan;
    color: @black;
}
