@define-color black #201822;
@define-color white #d6d9e0;
@define-color red #fc5f72;
@define-color green #00c9ad;
@define-color blue #017d83;
@define-color yellow #ffb703;
@define-color magenta #ff80ab;
@define-color cyan #00c2d6;
