* {
    font-family: "Roboto Mono Medium", FontAwesome;
    font-size: 14px;
    border-radius: 20px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

.modules-left {
    margin: 2px 0 0 10px;
    background-color: rgba(17, 17, 29, 1);
}

.modules-center {
    margin: 2px 0 0 0;
    background-color: rgba(17, 17, 29, 1);
}

.modules-right {
    margin: 2px 10px 0 0;
    background-color: rgba(17, 17, 29, 1);
}

#workspaces button {
    padding: 1px 10px;
    background-color: transparent;
    color: rgba(252, 95, 114, 1);
}

#workspaces button:hover {
    box-shadow: inherit;
    background-color: rgba(252, 95, 114, 1);
}

#workspaces button.active {
    color: rgba(17, 17, 29, 1);
    background-color: rgba(252, 95, 114, 1);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#window,
#mpd {
    padding: 5px 10px;
    margin: 3px;
    color: rgba(252, 95, 114, 1);
    background-color: rgba(17, 17, 29, 1);
}

#custom-power {
    font-size: 16px;
}

window#waybar.empty #window {
    background: none;
}

#battery.charging, #battery.plugged {
    color:rgba(111, 194, 118, 1);
    background-color: rgba(17, 17, 29, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
