/**
 *
 * Author : Martynas Muizys
 * Github : @martynasmuizys
 *
 * Colors
 **/

* {
    background:     #11111DFF;
    background-alt: #1A1B26FF;
    foreground:     #FFFFFFFF;
    selected:       #FC5F72FF;
    active:         #414868FF;
    urgent:         #F7768EFF;
}
