window-rule {
    geometry-corner-radius 8
    clip-to-geometry true

    open-maximized-to-edges false
}

window-rule {
    match app-id="Alacritty"

    open-maximized false
}

window-rule {
    match app-id="brave-browser"

    open-maximized true
}
